body {
    margin: 0;
}

main {
    display: grid;
    max-width: 1240px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.searchView,
.resultView,
.historyView {
    width: 90%;
    height: 500px;
    max-height: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 15px;
    padding: 15px 5px;
    border: 1px solid grey;
    border-radius: 15px;
    margin-top: 35px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.historyView {
    flex-direction: column;
    align-items: center;
}

.searchView::-webkit-scrollbar,
.resultView::-webkit-scrollbar,
.historyView::-webkit-scrollbar {
    display: none;
    opacity: 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
}

input[type="text"],
button {
    width: 100%;
    padding: 5px 15px;
}

.search__input {
    margin-bottom: 15px;
    outline: none;
}

.search__button {
    background: unset;
    border: 1px solid teal;
    color: teal;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.search__button:hover {
    background: teal;
    transition: all 0.3s ease-in-out;
    color: white;
}

.repo__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.repo__item {
    display: flex;
    padding: 10px 5px;
    border: 1px solid gray;
    width: 90%;
    margin: 2.5px 0;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.avatar {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.repo__link {
    text-decoration: none;
    color: black;
}

.user__link {
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding: 5px 15px;
    margin: 5px 0;
    width: 200px;
    border: 1px solid gray;
}

.empty_result {
    text-align: center;
    font-size: 36px;
}